
.desc {
    color: #ececec;
}

.mailInpit {
    border: 1px solid rgba(0, 0, 0, 0.01);
    background-color: white;

    font-weight: 400;
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
}